<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark nav-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)">W3BSTRIKE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/user/dashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            </form>
          </div>
        </div>
      </nav>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="name" class="form-control form-control-lg" />
                  <label class="form-label" for="name">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" id="phone" class="form-control form-control-lg" />
                  <label class="form-label" for="phone">Phone</label>
                </div>
                <div class="d-flex justify-content-center">
                  <button id="register" onclick="onRegister()" type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/user/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const formData = new FormData();
  function onRegister()
  {
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    var phone = document.getElementById('phone').value;
    let arr = ["name", "email", "password", "phone"]
    let arr2 = [name, email, password, phone]
    for(let i=0; i<4; i++)
    {
      formData.append(arr[i],arr2[i])
    }
    let axios_config={
      Headers:{
        "Content-Type": "multipart/form-data"
        }
    }
    axios.post('/user/register',formData,axios_config)
    .then(response =>{
      console.log(response)
      swal("Registration Successful")
      .then(() => {
                window.location.href = "/user/login";
        })
    })
    .catch(error =>{
      swal("Email already exists")
      location.reload();
    })
  }
</script>
</body>
</html>